

.title{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}


.Netflix{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 60px;
    color: rgb(229, 9, 20);
    text-shadow: rgba(240, 46, 170, 0.4) 2px 2px;
    padding: 10px;
    margin: 20px;
    margin-left: 60px;

}

.sign_out{
    font-size: 22px;
    font-weight: 700;
    padding-top: 57px;
    margin-right: 60px;
    color: black;
    text-decoration: none;
}

.sign_out:hover{
    font-size: 22px;
    font-weight: 700;
    padding-top: 57px;
    margin-right: 60px;
    color: rgb(229, 9, 20);
    scale: 0.9;
    text-decoration: none;
}

.line{
    display: flex;
    height: 70px;
    justify-content: left;
    align-items: flex-end;
    font-size: 30px;
    padding-left: 100px;
}

.Plans{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 80px;
    gap: 15px;
    margin-left: 20px;
    margin-right: 20px;


}


.plan_name{
    background-image: linear-gradient(rgb(10, 10, 140),rgb(163, 26, 26));
    color: white;
    padding: 30px;
    border-radius: 30px;
    font-size: 30px;
}

.plan_name>p{
    color: rgb(215, 215, 208);
    font-size: 20px;
}

.Plans>div{
    
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    padding: 20px;
    border-radius: 30px;
    width: 18%;
}

.Plans>div:hover{
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    padding: 20px;
    border-radius: 30px;
}


.plan_benifits{
    padding: 30px;
    list-style: none;
    font-size: 20px;
    color: rgb(116, 151, 176);
    text-align: center;
}

li>ul{
    list-style: none;
    font-size: 15px;
    color: black;
    text-align: center;
}

.plan_price{
    text-align: center;
    font-size: 30px;
}

footer{
    margin-left: 40px;
    margin-right: 40px;
}


@media (max-width: 600px){

    .Plans{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 60px;
        margin-bottom: 80px;
        gap: 15px;
        margin-left: 20px;
        margin-right: 20px;
    
    
    }

    .Plans>div{
    
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        padding: 20px;
        border-radius: 30px;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Plans>div:hover{
        scale: 1.05;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        padding: 20px;
        border-radius: 30px;
        
    }

    .line{
        display: flex;
        padding-left: 0px;
        justify-content: center;
        font-size: 24px;
    }
}


@media (min-width: 601px) and (max-width: 1121px){
    
    .Plans{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 60px;
        margin-bottom: 80px;
        gap: 15px;
        margin-left: 20px;
        margin-right: 20px;
    
    
    }

    .Plans>div{
    
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        padding: 20px;
        border-radius: 30px;
        width: 40%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .line{
        display: flex;
        padding-left: 0px;
        justify-content: center;
        font-size: 24px;
    }

    .Plans>div:hover{
        scale: 1.05;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        padding: 20px;
        border-radius: 30px;
        margin: 5px;
        
    }

}